/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

/********************** Reset Notion Style *************************/
.notion-quote {
    border-radius: 0;
    border-left: 3px solid;
}
code[class*="language-"], pre[class*="language-"] {
    white-space: break-spaces;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
}
